<form action="/todos" method="post">
    <label>Title</label>
    <input name="title" type="text">

    <label>Importance</label>
    <input name="importance" type="number" min=1 max=5>

    <label>Due Date</label>
    <input name="dueDate" type="date">

    <label>Description</label>
    <input name="description" type="text">

    <input name="submission" type="submit">
</form>